body {
    background-color:#790101;
}
header {
    background-color:#222222;
    color:rgb(67, 238, 15);
    padding: 15px;
}
.hlink {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}
.hhead {
    display: inline;
}